// ==========================================
// PROFILE TYPES
// ==========================================

const PROFILE_TYPES = Object.freeze({

    BRIDE : "bride",

    GROOM : "groom",

    OTHER : "other"

});


// ==========================================
// PROFILE SCREENS
// ==========================================

const PROFILE_SCREENS = Object.freeze({

    SEARCH : "SEARCH",

    LIKED : "LIKED",

    DISLIKED : "DISLIKED",

    LIKES_RECEIVED : "LIKES_RECEIVED",

    FULL_PROFILE : "FULL_PROFILE"

});


// ==========================================
// PROFILE REACTIONS
// ==========================================

const PROFILE_REACTIONS = Object.freeze({

    LIKE : "LIKE",

    DISLIKE : "DISLIKE"

});


// ==========================================
// REACTION STATUS
// ==========================================

const REACTION_STATUS = Object.freeze({

    NONE : "",

    OUTGOING_LIKE : "OUTGOING_LIKE",

    MUTUAL_LIKE : "MUTUAL_LIKE",

    DISLIKED : "DISLIKED"

});


// ==========================================
// INTEREST STATUS
// ==========================================

const INTEREST_STATUS = Object.freeze({

    PENDING : "PENDING",

    ACCEPTED : "ACCEPTED",

    DECLINED : "DECLINED",

    PENDING_SENT : "PENDING_SENT",

    PENDING_RECEIVED : "PENDING_RECEIVED"

});