<script>

// ==========================================
// FILE : ProfileHeader.html
// MODULE : Profile Components
// PURPOSE : Build reusable profile header
//
// RESPONSIBILITY
//  - Build profile title
//  - Build profile name
//  - Support reusable profile title text
//
// USED BY
//  - displayProfileResults()
//  - displayLikedProfileCard()
//  - displayDislikedProfileCard()
// ==========================================


function buildProfileHeader(
    options
) {

    options =
        options || {};


    const icon =
        options.icon || "👤";


    const profileNumber =
        options.profileNumber ?? "";


    const title =
        options.title || "Profile";


    const name =
        escapeHtml(
            options.name || "-"
        );


    return `

        <div class="profile-card-title">

            ${icon}

            ${escapeHtml(title)}
            ${profileNumber}

        </div>


        <div class="profile-name">

            ${name}

        </div>

    `;

}

</script>